📜 {{ title }}

📌 TLDR: {{ one_sentence_summary }}

🌐 背景问题:
{{ problem_background }}

🛠️ 方法:
{{ method }}

🔬 实验:
{{ experiment }}

💭 进一步思考:
{{ further_thoughts }}

👥 作者: {{ authors | join(', ') }}
🏫 机构：{{ institution | join(', ')}}
🏷️ 关键词: {{ keywords | join(', ')}}
📅 日期: {{ updated }}
🤖 由 {{ model }} 生成
💯 个性化推荐分数 {{ score }}